{% extends 'accounts/base.html' %}

{% block title %}
    Patient Update
{% endblock %}

{% block content %}


    <h1>Update Patient Details</h1>

    
    <form id="updatePatientForm" method="post">
        {% csrf_token %}
        <input type="text" id="phoneNumber" name="phone" placeholder="Phone Number" required>
        <input type="text" id="bloodGroup" name="bloodGroup" placeholder="Blood Group" >
        <input type="text" id="medicalIssue" name="medicalIssue" placeholder="Medical Issue" >
        <input type="text" id="medication" name="medication" placeholder="Medication" >
        <input type="number" id="recentBill" name="recentBill" placeholder="Recent Bill" >
        <input type="text" id="assignedDoctor" name="assignedDoctor" placeholder="Assigned Doctor" >
        <button type="submit">Update</button>
    </form>

    <script>
        // let token = localStorage.getItem('auth_token')
           

        

        document.getElementById('updatePatientForm').addEventListener("submit",function(event){

            event.preventDefault();

            let phone_number = parseInt(document.getElementById("phoneNumber").value);
            let blood_group = document.getElementById("bloodGroup").value;
            let medical_issue = document.getElementById("medicalIssue").value;
            let medication = document.getElementById("medication").value;
            let recent_bill = parseInt(document.getElementById("recentBill").value);
            let assigned_doctor = document.getElementById("assignedDoctor").value;
            let csrfToken = document.querySelector("[name=csrfmiddlewaretoken]").value;
                    
            let data = {
                phone_number : phone_number,
                blood_group : blood_group,
                medical_issue : medical_issue,
                medication : medication,
                recent_bill : recent_bill,
                assigned_doctor : assigned_doctor
            }

            fetch("{% url 'updatedetails' %}",{
                method:"POST",
                headers : {
                    'Content-Type': 'application/json',
                    'Authorization': `Token ${token}`,
                    "X-CSRFToken": csrfToken
                },
                body: JSON.stringify(data)
                
            })
            .then(response => response.json())
            .then(data => {
                if (data){
                    console.log(data)
                    alert("Patient Details Updated Sucessfully");
                    console.log(data)
                }
                else{
                    alert("Patient Updation Failed");
                }
            })
            .catch(error => {
                console.log('Error Uploading the form',error);
                alert('Patient Details Updation Error');
            })
        })

        function logout() {
        
        localStorage.removeItem('auth_token');

        
        alert("You have been logged out.");

        
        window.location.href = "{% url 'login' %}";
    }

    
    </script>

    </script>

{% endblock %}

